<div class="slider" slider>
  <ul class="slides">
      <li ng-repeat="image in homeCtrl.imageLinks">
          <img ng-src="{{image}}">
          <div class="caption center-align">
              <h3>Welcome to my website!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
      </li>
  </ul>
</div>

<div class="row">
  <h3 class="center-align light-green-text">Who Am I?</h1>
  <p class="flow-text center-align">
    I'm a teaching assistant at RefactorU currently looking for a full-time developer position.
  </p>
</div>

<hr>

<div class="row">
  <div class="col l4 s12" ng-repeat="section in homeCtrl.content">
    <div class="card">
      <div class="card-content">
        <span class="card-title light-green-text">{{section.header}}</span>
      </div>
      <div class="card-action">
        <div class="row" ng-repeat="paragraph in section.paragraphs">
          <p ng-bind-html="paragraph"></p>
        </div>
      </div>
    </div>
  </div>
</div>
