/*body {
  background: url("/images/background-image-2.jpg") no-repeat center center fixed;
  background-size: cover;
}*/

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: inline-block !important;
}

.social-media-icons li {
  display: inline-block;
}
